.ellipse {
  display: inline-flex;
  position: relative;
  color: inherit;
  margin-left: auto;
}
.ellipse > button {
  opacity: 0;
  /* TODO: Fix Click-thru for layer selection */
  padding: calc(0.5em * var(--x));
}
.ellipse > button:not(.active):hover {
  opacity: 0;
}

.layer {
  width: 100%;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  flex-direction: row;
  border: #ffffff90 1px solid;
  border-radius: 0.5rem;
  cursor: pointer;
}
.layer p {
  margin: 0 0.5rem;
  line-height: 1;
  max-width: 75%;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: calc(1em / var(--scalar));
}

.active {
  background-color: #ffffff;
  color: #000000;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50%;
  width: auto;
  height: auto;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
  background-color: #ffffff;
  border-radius: 0.5rem;
  border: #ffffff90 1px solid;
  box-shadow: 0 0 0.5rem #00000090;
  z-index: 1;
}
.dropdown .active {
  display: block;
}
.dropdown > button {
  color: #000000;
}

button.active {
  color: #000000;
  opacity: 1;
}
button.active:hover {
  color: #000000;
}
