.ellipse {
  display: inline-flex;
  position: relative;
  color: inherit;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
  background-color: #ffffff;
  border-radius: 0.5rem;
  border: #ffffff90 1px solid;
  box-shadow: 0 0 0.5rem #00000090;
  z-index: 1;
}

.active {
  background-color: #ffffff;
  color: #000000;
}
