.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.wrap label {
  font-size: calc(1em / var(--scalar));
  margin: 0;
  padding: 0;
  color: #ffffff90;
}
