.wrap {
  > label {
    font-size: calc(1em / var(--scalar));
    margin: 0;
    padding: 0;
    color: #ffffff90;

    &.full {
      width: 100%;
    }
  }

  & select {
    margin-bottom: 0.25rem;

    /* add styles from sub selects single line */
  }
}
