.card {
  opacity: 0;
  translate: -100%;
  transition:
    translate var(--transition-duration) var(--animation-easing),
    opacity var(--transition-duration) var(--animation-easing);
}
.card.active {
  opacity: 1;
  translate: 0;
}

.card.inactive {
  user-select: none;
  pointer-events: none;
}

.title {
  margin: 0.25rem 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.title > label {
  margin-right: 0.5rem;
  text-transform: capitalize;
}
.title.reverse {
  flex-flow: row-reverse nowrap;
}
