.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  & label {
    font-size: calc(1em / var(--scalar));
    margin: 0;
    padding: 0;
    color: #ffffff90;

    &.full {
      display: inline-flex;
      width: 100%;
    }
  }
}
