.wrap {
  /* Header */
  > ul:first-child {
    /* padding: 0 1rem; */
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    & button {
      color: #ffffff90;
      padding: 0.5rem;
      line-height: 0.5;
      box-sizing: content-box;
    }
  }
}

.layers {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  font-family: var(--font-impact);
  > li > div {
    width: 100%;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    flex-direction: row;
    border: #ffffff90 1px solid;
    border-radius: 0.5rem;
    cursor: pointer;
    & p {
      margin: 2px 0.5rem 0;
      line-height: 1;
      max-width: 75%;
      text-transform: uppercase;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: calc(1em / var(--scalar));
    }
    &.active {
      background-color: #ffffff;
      color: #000000;
    }
  }
}

.ellipse {
  display: inline-flex;
  position: relative;
}
