#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* background-color: #fff; */
}

.wrap {
  isolation: isolate;
  background-color: blueviolet;
  overflow: hidden;
}

#test {
  width: 800px;
  height: 200px;
  background: linear-gradient(
      to right,
      color(display-p3 0 0.85 1 / 1),
      color(display-p3 0 0.85 1 / 0)
    ),
    url(assets/noise.svg);
  /* filter: blur(10px); */
  /* background-blend-mode: normal ; */
  /* filter: contrast(420%) brightness(1000%); */
}
