.wrap {
  --padding: 0.5rem;
  display: inline-grid;
  grid-template: auto 1fr auto / auto;
  align-content: center;
  > ul {
    display: inline-grid;
    padding: var(--padding);
    gap: var(--padding);
    justify-items: center;
    align-items: start;
    > li {
      display: inline-grid;
      place-content: center;

      > button {
        padding: var(--padding);
        margin: var(--padding);
        border-radius: 0.5rem;
        background-color: transparent;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:has(> svg) {
          line-height: 0.5em;
        }

        &:hover {
          background-color: #222;
          transform: scale(1.05);
        }

        &:active {
          transform: scale(0.95);
        }

        &:disabled {
          transform: scale(1);
          color: #999;
          background-color: transparent;
          cursor: not-allowed;
        }
      }
    }
  }
}

.logo {
  text-decoration: none;

  > p {
    font-size: 2rem;
    margin: 0;
    padding: 0rem 1rem;
    font-family: 'Impact', Haettenschweiler, 'Arial Narrow Bold', sans-serif,
      sans-serif;
    letter-spacing: -0.1em;
    text-align: center;
    background: linear-gradient(to bottom right, #ff9b9b 30%, #cbffa9 110%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
